<a href="https://colab.research.google.com/github/nadyadtm/Exploratory-Data-Analysis-Birth/blob/main/Pandas_Handling_Missing_Value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling Missing Value In Pandas

In [20]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Import & Load Data

In [55]:
import pandas as pd

In [57]:
df = pd.read_csv('drive/My Drive/Belajar/Data Exploration/Data Hamil/data.csv')
df.head(10)

   fage  mage       mature  weeks  ... lowbirthweight  gender      habit   whitemom
0   NaN    13  younger mom   39.0  ...        not low    male  nonsmoker  not white
1   NaN    14  younger mom   42.0  ...        not low    male  nonsmoker  not white
2  19.0    15  younger mom   37.0  ...        not low  female  nonsmoker      white
3  21.0    15  younger mom   41.0  ...        not low    male  nonsmoker      white
4   NaN    15  younger mom   39.0  ...        not low  female  nonsmoker  not white
5   NaN    15  younger mom   38.0  ...            low    male  nonsmoker  not white
6  18.0    15  younger mom   37.0  ...        not low    male  nonsmoker  not white
7  17.0    15  younger mom   35.0  ...            low    male  nonsmoker  not white
8   NaN    16  younger mom   38.0  ...        not low    male  nonsmoker      white
9  20.0    16  younger mom   37.0  ...        not low  female  nonsmoker      white

[10 rows x 13 columns]

### Cek Missing Value
Untuk mengecek informasi pada data tersebut, dapat dilihat

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fage            829 non-null    float64
 1   mage            1000 non-null   int64
 2   mature          1000 non-null   object
 3   weeks           998 non-null    float64
 4   premie          998 non-null    object
 5   visits          991 non-null    float64
 6   marital         999 non-null    object
 7   gained          973 non-null    float64
 8   weight          1000 non-null   float64
 9   lowbirthweight  1000 non-null   object
 10  gender          1000 non-null   object
 11  habit           999 non-null    object
 12  whitemom        998 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 101.7+ KB

In [142]:
print('Data yang terdapat missing value \n',df.columns[df.isnull().any()].values)

Data yang terdapat missing value
 ['fage' 'weeks' 'premie' 'visits' 'marital' 'gained' 'habit' 'whitemom']

### Handling Missing value pada data kontinu
Untuk melakukan handling missing value pada data kontinu, digunakan median impurity, yaitu mengganti nilai kosong dengan median dari kolom

In [143]:
med = df.median(skipna = True)
med

fage      30.00
mage      27.00
weeks     39.00
visits    12.00
gained    30.00
weight     7.31
dtype: float64

In [144]:
df_clean = df.fillna(med)

Berikut ini adalah row yang masih terdapat missing value

In [145]:
is_NaN = df_clean.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df_clean[row_has_NaN]
print(rows_with_NaN)

     fage  mage       mature  weeks  ... lowbirthweight  gender      habit  whitemom
365  22.0    24  younger mom   39.0  ...        not low    male  nonsmoker       NaN
739  33.0    32  younger mom   39.0  ...        not low    male  nonsmoker     white
979  34.0    40   mature mom   41.0  ...        not low    male  nonsmoker       NaN
987  30.0    41   mature mom   39.0  ...            low  female        NaN     white

[4 rows x 13 columns]

### Handling Missing value pada data categorical
Untuk melakukan handling missing value pada data kontinu, digunakan mode impurity, yaitu mengganti nilai kosong dengan mode dari kolom

In [146]:
mod=df_clean.mode(numeric_only = False)
mod=pd.Series(mod.T[0])
mod

fage                       30
mage                       20
mature            younger mom
weeks                      39
premie              full term
visits                     12
marital           not married
gained                     30
weight                   7.44
lowbirthweight        not low
gender                 female
habit               nonsmoker
whitemom                white
Name: 0, dtype: object

In [147]:
df_clean = df_clean.fillna(mod)

In [152]:
df_clean.head()

   fage  mage       mature  weeks  ... lowbirthweight  gender      habit   whitemom
0  30.0    13  younger mom   39.0  ...        not low    male  nonsmoker  not white
1  30.0    14  younger mom   42.0  ...        not low    male  nonsmoker  not white
2  19.0    15  younger mom   37.0  ...        not low  female  nonsmoker      white
3  21.0    15  younger mom   41.0  ...        not low    male  nonsmoker      white
4  30.0    15  younger mom   39.0  ...        not low  female  nonsmoker  not white

[5 rows x 13 columns]

## Describe

In [138]:
df_clean.describe()

              fage         mage  ...       gained      weight
count  1000.000000  1000.000000  ...  1000.000000  1000.00000
mean     30.212000    27.000000  ...    30.317000     7.10100
std       6.158489     6.213583  ...    14.047628     1.50886
min      14.000000    13.000000  ...     0.000000     1.00000
25%      26.000000    22.000000  ...    21.000000     6.38000
50%      30.000000    27.000000  ...    30.000000     7.31000
75%      34.000000    32.000000  ...    38.000000     8.06000
max      55.000000    50.000000  ...    85.000000    11.75000

[8 rows x 6 columns]

In [150]:
df_clean.to_csv('data_clean.csv')